/* Import Font Family */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

/* Variables */
:root {
  --primary-color: #f5f5f5;
  --secondary-color: #e3e3e3;
  --dark-purple: #100621;
  --light-purple: #482f68;

  --main-font: "Zain", sans-serif;
}

/* Global Styles */
* {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--primary-color);
}
body {
  background-color: var(--dark-purple);
  font-family: var(--main-font);
}
ul {
  list-style: none;
}
section {
  padding: 50px 0;
}
/* NavBar Style */

.navbar {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 15px 0;
}
.navbar .logo,
.navbar .logo img {
  max-width: 5vmax;
  height: auto;
  color: var(--primary-color);
}

.navbar .nav-links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.navbar .nav-links ul li {
  display: inline;
  cursor: pointer;
}
.navbar .nav-links ul li a {
  color: var(--primary-color);
  font-size: 1.5vmax;
}

/* Landing Section  */
.landing {
  width: 85%;
  height: calc(100vh - 100px);
  margin: 0 auto;
}
.landing .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  height: 100%;
}
.landing .content .text-content,
.landing .content .img-content {
  width: 50%;
}
.landing .content .text-content .title {
  font-size: 3vmax;
  font-weight: 400;
  margin-bottom: 10px;
}
.landing .content .text-content .title h1 {
  font-weight: 400;
  font-size: inherit;
}
.landing .content .text-content .header p {
  font-size: 1.3vmax;
  color: var(--secondary-color);
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.landing .content .text-content .header p span {
  font-weight: 400;
}
.landing .content .text-content .programs {
  font-size: 1.5vmax;
}
.landing .content .text-content .programs ul li {
  padding: 5px 0;
}
.landing .content .text-content .contact-btn {
  margin: 5px;
  margin-top: 10px;
  background-color: var(--light-purple);
  padding: 5px 10px;
  max-width: 20vmax;
  border-radius: 15px;
  text-align: center;
  font-size: 1.7vmax;
  transition-duration: 0.5s;
}

.landing .content .img-content img {
  max-width: 100%;
  height: auto;
}

/* Hero Section */
.hero {
  width: 100%;
  background: url(../assets/images/cyber-security-expert-working-with-technology-neon-lights.jpg)
    no-repeat center center fixed;
  background-size: cover;
  min-height: 20vmax;
  text-align: center;
  position: relative;
  padding: 20px;
}
.hero .content {
  position: relative;
  z-index: 100;
}
.hero .hero-title {
  font-family: var(--main-font);
  font-size: 3.5vmax;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.hero .layer {
  position: absolute;
  top: -514px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}
/* Scientific Content */
.scientific-content {
  width: 85%;
  margin: 0 auto;
}
.scientific-content .header {
  text-align: center;
  margin-bottom: 25px;
}
.scientific-content .header .title {
  font-size: 3vmax;
}
.scientific-content .header p {
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 1.5vmax;
}

.scientific-content .program {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  margin: 15px auto;
}

.program .program-title {
  font-size: 2.3vmax;
  margin-bottom: 15px;
}

.program .program-img {
  width: 50%;
}
.program.first .program-img,
.program.third .program-img {
  text-align: left;
}
.program.second .program-img,
.program.fourth .program-img {
  text-align: right;
}
.program .program-descripe {
  font-size: 1.3vmax;
  font-weight: 300;
  line-height: 1.6;
  max-width: 70%;
  text-align: right;
}
.program .program-img img {
  width: 65%;
  height: auto;
  margin: 0 auto;
}
/* Section2 : features */
.section2{  
  padding: 15px;
  text-align: center;
  h2{
      font-size: 48px;
      margin-bottom: 10px;
  }
  p{
      font-size: 24px;
  }
}
/* all cards div contains two lines */
.cards{
  display: flex;
  flex-direction: column;
}
/* Line1 div containing 3 cards */
.line1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* Line2 div containing 2 cards */
.line2{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* style for each card in section2 */
.card{
  width: 20%;
  border: 5px #09c solid;
  border-radius: 50px;
  text-align: center;
  color: #09c;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  margin-top: 20px;
  transition-duration: 0.5s;
}
/* style for card icon */
.card i{
  
  font-size: 30px;
  border: 3px solid #09c;
  border-radius: 100%;
  padding: 20px;
}
/* Hover on card of section 2 */
.card:hover{
  background-color: #09c;
  color: aliceblue;
}
.section3{
  text-align: center;
  h2{
      font-size: 48px;
      margin: 15px;
  }
}
/* rows of trainer images */
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom:10px ;
}
/* trainer name and track */
.info{
  position: relative;
  z-index: 5;
  margin-top: 15px;
}
/* trainer image and details */
.profile{
  width: 375px;
  height: 514px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  transition-duration: 1s;
}
/* layer for trainer details */
.layer{
  height: 514px;
  color: aliceblue;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  transform: translateY(514px);
  transition-duration: 1s;
}
/* Transparent background for trainer details */
.fill{
  width: 100%;
  height: 100%;
  background-color: #2E236C;
  opacity: 70%;
  position: absolute;
  z-index: -1;
}
/* image of the trainer */
.profile img{
  width: 100%;
  transition-duration: 1s;
}
/* hover on trainer container */
.profile:hover{
  img{
      transform: scale(1.1);
  }
  .layer{
      transform: translateY(-567px);
  }
}
/* section4 */
.home{
  color: #f5f5f5;
  text-align: center;
  margin-top: 50px;
  h2{
    font-size: 48px;
  }
}
.content-sec4{
  display: flex;
  align-items: center;
  margin: 30px;
}
.text-sec4{
  width: 50%;
  p{
      font-weight: bold;
      font-size: 26px;
      padding-right: 10px;
  }
}
.image-sec4{
  width: 50%;
  img{
      width: 100%;
      border: none 2px white;
      /* height: 500px; */
  }
}
/* section5 */
.book-sec5{
  background-image: url(../omaniphoto/6c1d42c9be.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.layer-sec5{
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  z-index: 1;
  margin: 50px 0;
}
.child-sec5{
  text-align: center;
  color: #f5f5f5;
  z-index: 2;
  width: 600px;
  p{
      font-weight: 500;
      margin-top: 10px;
  }
}
.child-sec5 button{
  margin: 5px;
  margin-top: 10px;
  background-color: var(--light-purple);
  padding: 5px 10px;
  max-width: 20vmax;
  border-radius: 15px;
  text-align: center;
  font-size: 1.7vmax;
  border: none;
  padding: 10px 20px;
  transition-duration: 0.5s;
}
@media screen and (max-width: 480px){
  .card{
    font-size: 16px;
    width: 90%;
  }
  .content-sec4{
    flex-direction: column;
    .image-sec4{
      width: 90%;
    }
    .text-sec4{
      width: 90%;
    }
  }
}
@media  screen and (max-width: 768px) and (min-width: 480px){
  .card{
    width: 90%;
  }
  .content-sec4{
    flex-direction: column;
    .image-sec4{
      width: 90%;
    }
    .text-sec4{
      width: 90%;
    }
  }
}
@media  screen and (min-width: 768px) and (max-width: 992px){
  .card{
    width: 40%;
  }
}
@media  screen and (min-width: 992px){
  .line2 .card{
    width: 40%;
  }
}
img{
  border-radius: 30px;
}
button:hover{
  background-color: #e3e3e3;
  color: #2E236C;
  cursor: pointer;
}
